<!-- Hero Section -->
<section id="hero">
  <div class="hero mt-0 grid gap-28 px-8 lg:grid-cols-2 lg:gap-4">
    <!-- Hero image -->
    <img
      src="/images/illustration-working.svg"
      alt="An image of a person working"
      class="px-8 lg:p-0"
    />
    <!-- Hero content -->
    <div
      class="flex flex-col items-center justify-center gap-8 lg:col-start-1 lg:row-start-1"
    >
      <h1 class="mx-auto capitalize md:text-5xl lg:text-left">
        More than just shorter links
      </h1>
      <p class="mx-auto text-xl text-grayishViolet lg:text-left lg:text-2xl">
        Build your brand's recognition and get detailed insights on how your
        links are performing.
      </p>
      <div class="btn bg-cyan py-4 px-10 text-2xl lg:self-start">
        Get Started
      </div>
    </div>
  </div>
</section>
