<body>
  <!-- Share link section -->
  <section id="link-section" class="bg-gray-100">
    <div class="link-section relative -top-16 space-y-6">
      <!-- Input link -->
      <div
        class="flex flex-col gap-4 rounded-md bg-darkViolet p-8 lg:flex-row lg:items-center"
      >
        <!-- Input -->
        <form action="" class="flex-grow">
          <label for="link"></label>
          <input
            id="link"
            name="link"
            type="text"
            required
            placeholder="Shorten a link here"
            class="w-full rounded-lg p-4 py-3 placeholder:font-semibold placeholder:text-yellow-500 focus:outline-none focus:placeholder:text-transparent"
          />
        </form>
        <!-- btn -->
        <div class="rounded-lg bg-white">
          <div
            class="btn rounded-lg bg-cyan text-center text-base font-semibold"
          >
            Shorten It!
          </div>
        </div>
      </div>
      <!-- Copy link -->
      <div
        class="flex flex-col items-center justify-between rounded-md bg-white p-6 text-center shadow-sm lg:flex-row"
      >
        <p class="font-bold text-black">https://frontendmentor.io</p>
        <div
          class="flex flex-col items-center justify-center gap-4 lg:flex-row"
        >
          <p class="font-bold text-cyan">https://rel.ink/k4IKyk</p>
          <a
            href="/"
            class="rounded-lg bg-cyan px-8 py-2 text-lg text-white hover:bg-opacity-50"
            >Copy</a
          >
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-between rounded-md bg-white p-6 text-center shadow-sm lg:flex-row"
      >
        <p class="font-bold text-black">https://frontendmentor.io</p>
        <div
          class="flex flex-col items-center justify-center gap-4 lg:flex-row"
        >
          <p class="font-bold text-cyan">https://rel.ink/k4IKyk</p>
          <a
            href="/"
            class="rounded-lg bg-darkViolet px-8 py-2 text-lg text-white hover:bg-opacity-50"
            >Copy</a
          >
        </div>
      </div>
      <div
        class="flex flex-col items-center justify-between rounded-md bg-white p-6 text-center shadow-sm lg:flex-row"
      >
        <p class="font-bold text-black">https://frontendmentor.io</p>
        <div
          class="flex flex-col items-center justify-center gap-4 lg:flex-row"
        >
          <p class="font-bold text-cyan">https://rel.ink/k4IKyk</p>
          <a
            href="/"
            class="rounded-lg bg-cyan px-8 py-2 text-lg text-white hover:bg-opacity-50"
            >Copy</a
          >
        </div>
      </div>
    </div>
  </section>
</body>
