<!-- Navigation -->
<nav>
  <section id="nav-section">
    <!-- Navigation container -->
    <div class="nav flex items-center justify-between">
      <!-- Shortly Logo & Links-->
      <div class="flex items-center justify-between gap-16">
        <img src="./images/logo.svg" alt="Shortly logo" />
        <ul class="hidden gap-8 text-lg font-bold text-grayishViolet lg:flex">
          <li class="hover:text-black">Features</li>
          <li class="hover:text-black">Pricing</li>
          <li class="hover:text-black">Resources</li>
        </ul>
      </div>
      <!-- Menu button -->
      <div class="menu lg:hidden">
        <div class="top"></div>
        <div class="mid"></div>
        <div class="bot"></div>
      </div>
      <!-- Login/Signup button -->
      <div class="hidden items-center justify-center gap-8 lg:flex">
        <a
          href="/"
          class="text-lg font-bold text-grayishViolet hover:text-black"
          >Login</a
        >
        <a href="/" class="btn bg-cyan hover:bg-opacity-50">Sign Up</a>
      </div>
    </div>
  </section>
</nav>
